.grayBody{
    background-color: gray;
}

.wLine{
    height: 0px;
    border: none;
    border-top: 0.5cm solid white;
    color: white;
}

.wLine2{
    height: 0px;
    border: none;
    border-top: 0.25cm solid white;
    color: white;
}


.title{
    color: white;
    text-align: center;
}

.version {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.version:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.titleUnderLine{
    color: white;
    text-align: center;
}

.versionLine{
    list-style: none;
    color: white;
    padding-left: 40%;
}

.others{
    color: blue;
    cursor: pointer;
}

.download-txt{
    text-decoration: none;
    color: white;
    

}

.download-txt:hover{
    text-decoration: none;
    color: white;
    

}

.download-btn{
    
    padding-left: 44%; 
    padding-right: auto;
}